element.style {
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

таблица стилей агента пользователя
div {
    display: block;
}

.maison-book {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

html {
    line-height: 1;
}

element.style {
}

.relative {
    position: relative;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

таблица стилей агента пользователя
div {
    display: block;
}

.maison-book {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

html {
    line-height: 1;
}

@media (max-width: 1024px) .mission-module:before {
    top: -18px;
    left: -21px;
}

@media (max-width: 1410px) .mission-module:before {
    top: -10px;
}

.mission-module:before {
    left: 0;
    content: "";
    width: 136px;
    height: 334px;
    background-image: url(//cdn.optimizely.com/img/14069890047/72ae362….png);
}

.mission-module:before, .mission-module:after {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.mission-module:after {
    content: "";
    width: 173px;
    height: 353px;
    background-image: url(//cdn.optimizely.com/img/14069890047/efeeb04….png);
    top: -3rem;
    right: 0;
}

.mission-module:before, .mission-module:after {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

@media (max-width: 1024px) .mission-module:before {
    top: -18px;
    left: -21px;
}

@media (max-width: 1410px) .mission-module:before {
    top: -10px;
}

.mission-module:before {
    left: 0;
    content: "";
    width: 136px;
    height: 334px;
    background-image: url(//cdn.optimizely.com/img/14069890047/72ae362….png);
}

.mission-module:before, .mission-module:after {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

.maison-book {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

html {
    line-height: 1;
}
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

таблица стилей агента пользователя
div {
    display: block;
}

.maison-book {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

html {
    line-height: 1;
}
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

таблица стилей агента пользователя
div {
    display: block;
}

.maison-book {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

html {
    line-height: 1;
}
element.style {
}

.text-center {
    text-align: center;
}

@media (min-width: 600px) .px2-sm {
    padding-right: 1.2rem !important;
    padding-left: 1.2rem !important;
}

.py2 {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
}

.webkit-scrolling {
    -webkit-overflow-scrolling: touch;
}

.auto-scroll-x {
    overflow-x: auto;
}

@media (min-width: 600px) .m-2-sm {
    margin: -1.2rem;
}

.mx-4 {
    margin-right: -2.4rem;
    margin-left: -2.4rem;
}

.grid-container * {
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

таблица стилей агента пользователя
div {
    display: block;
}

.maison-book {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

html {
    line-height: 1;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent;
}
element.style {
}

.text-nowrap {
    white-space: nowrap;
}

.shadow-2 {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
}

@media (min-width: 600px) .mx0-sm {
    margin-right: 0rem;
    margin-left: 0rem;
}

.mx4 {
    margin-right: 2.4rem;
    margin-left: 2.4rem;
}

@media (min-width: 600px) .flex-sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.bg-white {
    background-color: #FFFFFF;
}

.grid-container * {
    box-sizing: inherit;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol, ul {
    list-style: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

таблица стилей агента пользователя
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.text-center {
    text-align: center;
}

.maison-book {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

html {
    line-height: 1;
}
element.style {
}

@media (min-width: 600px) .py4-sm {
    padding-top: 2.4rem !important;
    padding-bottom: 2.4rem !important;
}

.py2 {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
}

.px4 {
    padding-right: 2.4rem !important;
    padding-left: 2.4rem !important;
}

.flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.border {
    border: 0.1rem solid #DCDEDD;
}

.grid-container * {
    box-sizing: inherit;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

таблица стилей агента пользователя
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.text-nowrap {
    white-space: nowrap;
}

ol, ul {
    list-style: none;
}

таблица стилей агента пользователя
ul {
    list-style-type: disc;
}

.text-center {
    text-align: center;
}

.maison-book {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

html {
    line-height: 1;
}
element.style {
}

@media (min-width: 600px) .py4-sm {
    padding-top: 2.4rem !important;
    padding-bottom: 2.4rem !important;
}

.py2 {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
}

.px4 {
    padding-right: 2.4rem !important;
    padding-left: 2.4rem !important;
}

.flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.border-bottom {
    border-bottom: 0.1rem solid #DCDEDD;
}

.border-top {
    border-top: 0.1rem solid #DCDEDD;
}

.grid-container * {
    box-sizing: inherit;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

таблица стилей агента пользователя
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.text-nowrap {
    white-space: nowrap;
}

ol, ul {
    list-style: none;
}

таблица стилей агента пользователя
ul {
    list-style-type: disc;
}

.text-center {
    text-align: center;
}

.maison-book {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

html {
    line-height: 1;
}
element.style {
}

.ksr-green-700 {
    color: #037362;
}

@media (min-width: 795px) .type-28-md {
    font-size: 2.8rem;
    line-height: 3.6rem;
}

.type-24 {
    font-size: 2.4rem;
    line-height: 3rem;
}

.grid-container * {
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

таблица стилей агента пользователя
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

таблица стилей агента пользователя
li {
    text-align: -webkit-match-parent;
}

.text-nowrap {
    white-space: nowrap;
}

ol, ul {
    list-style: none;
}

таблица стилей агента пользователя
ul {
    list-style-type: disc;
}

.text-center {
    text-align: center;
}

.maison-book {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

html {
    line-height: 1;
}
element.style {
}

.text-lowercase {
    text-transform: lowercase;
}

.dark-grey-500 {
    color: #656969;
}

.type-14 {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.grid-container * {
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

таблица стилей агента пользователя
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

таблица стилей агента пользователя
li {
    text-align: -webkit-match-parent;
}

.text-nowrap {
    white-space: nowrap;
}

ol, ul {
    list-style: none;
}

таблица стилей агента пользователя
ul {
    list-style-type: disc;
}

.text-center {
    text-align: center;
}

.maison-book {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

html {
    line-height: 1;
}


element.style {
}

@media (min-width: 600px) .mt5-sm {
    margin-top: 3rem;
}

.mb5 {
    margin-bottom: 3rem;
}

.mt8 {
    margin-top: 4.8rem;
}

@media (min-width: 795px) .type-28-md {
    font-size: 2.8rem;
    line-height: 3.6rem;
}

.type-24 {
    font-size: 2.4rem;
    line-height: 3rem;
}

.grid-container * {
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media (min-width: 600px) .text-center-sm {
    text-align: center;
}

.maison-book {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

html {
    line-height: 1;
}

таблица стилей агента пользователя
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media (min-width: 600px) .text-center-sm {
    text-align: center;
}

.maison-book {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

html {
    line-height: 1;
}

@font-face {
    font-family: 'RedOctober';
    src: url('/fonts/r/RedOctober.ttf');
}

.text_effect {
    text-align: center;
    font-family: 'RedOctober';
    color:cadetblue;
    font-size: 54px;
    background-color: rgb(255, 255, 255);
    text-shadow: rgb(3, 3, 3) 4px 4px 4px;
}

<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" / >
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/font-awesome/4-4-0/font-awesome.min.css" / >


<style >
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('https://bootstraptema.ru/snippets/font/2016/roboto/roboto.woff2') format('woff2'), url('https://bootstraptema.ru/snippets/font/2016/roboto/roboto.woff') format('woff'), url('https://bootstraptema.ru/snippets/font/2016/roboto/roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.blog_box h3 {
    font: 300 20px/25px Roboto, sans-serif;
    text-transform: uppercase;
    margin-top: 1em;
}

    .blog_box h3 a {
        color: #000;
    }

        .blog_box h3 a:hover {
            color: #2cb149;
            text-decoration: none;
        }

.blog_box p {
    font: 300 16px/25px Roboto, sans-serif;
    color: #999;
    line-height: 1.8em;
    margin-bottom: 2em;
}

.blog_box {
    width: 49%;
    margin-bottom: 2em;
}

.links {
    padding: 0.5em 0;
}

    .links ul {
        padding: 0;
        list-style: none;
    }

    .links li {
        padding: 0;
        list-style: none;
    }

    .links ul li {
        display: inline-block;
        margin-right: 20px;
        font: 300 16px/25px Roboto, sans-serif;
        color: #999;
    }

i.blog-icon {
    color: #2cb149;
    margin-right: 10px;
}

a.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
}

img.zoom-img:hover {
    -webkit-transform: scale(1.15);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 750ms;
    -moz-transform: scale(1.15);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 750ms;
    overflow: hidden;
}

img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.btn1 {
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin: 15px 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 32%;
}

.btn-8c:hover {
    -webkit-transform: rotateY(15deg);
    -moz-transform: rotateY(15deg);
    -ms-transform: rotateY(15deg);
    transform: rotateY(15deg);
    text-decoration: none;
    background: #2cb149;
    color: #fff;
}

.btn1:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-8 {
    display: block;
    background: #ffde00;
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

</style >