@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="" style="padding-top:2px" data-dev-module="BespokeComponent-all" bis_skin_checked="1">
    <div class="relative mission-module" bis_skin_checked="1">
        <div class="grid-container" bis_skin_checked="1">
            <div class="text-center-sm" bis_skin_checked="1">
                <h1 class="text_effect type-24 type-28-md type-34-lg mt8 mb5 mt5-sm">Подари великому проекту жизнь</h1>
                    <h2 class="type-13 type-14-md medium dark-grey-500 text-uppercase mb2 text-center">на CrowdFound:</h2>
                </div>
                <div class="text-center webkit-scrolling auto-scroll-x hide-scrollbar mx-4 m-2-sm py2 px2-sm align-content-center" bis_skin_checked="1">
                    <ul class="inline-flex flex-sm text-nowrap mx4 mx0-sm bg-white shadow-2">
                        <li class="flex1 py2 px4 py4-sm border">
                            <h3 class="type-24 type-28-md type-34-lg ksr-green-700">     1</h3>
                            <h4 class="type-14 dark-grey-500 text-lowercase">проектов основано</h4>
                        </li><li class="flex1 py2 px4 py4-sm border-top border-bottom">
                            <h3 class="type-24 type-28-md type-34-lg ksr-green-700">$0,0000</h3>
                            <h4 class="type-14 dark-grey-500 text-lowercase">собрано денежных средств</h4>
                        </li>
                        <li class="flex1 py2 px4 py4-sm border">
                            <h3 class="type-24 type-28-md type-34-lg ksr-green-700">      1</h3>
                            <h4 class="type-14 dark-grey-500 text-lowercase">участников</h4>
                        </li>
                        </ul>
                </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-6 blog_box cardBoxShadow">
            <a href="#" class="mask m-2">
                <img src="https://bootstraptema.ru/images/demo/1920x1080/demo1.jpg" alt="image" class="img-responsive zoom-img" style="max-height:100%;max-width:100%" />
            </a>
            <h3 class="m-2"><a href="single.html">Первый блок с эффектом фото</a></h3>
            <div class="links m-2">
                <ul>
                    <li><i class="fa blog-icon fa-calendar"> </i><span>Июль 13, 2013</span></li>
                    <li><i class="fa blog-icon fa-user"> </i><span>aTmpl</span></li>
                    <li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>Без комментариев</span></a></li>
                </ul>
            </div>
            <p class="m-2">Наведите курсор на картинку чтобы увидеть эффект приближения, при разном количестве символов блок с меньшим набором будет подстраиваться под блок с большим количеством, имеется в виду горизонтальное выравнивание элемента.</p>
            <center><a href="#" class="btn1 btn-8 btn-8c m-2">Смотреть</a></center>
            <div class="clearfix"></div>
        </div>

        <div class="col"></div>

        <div class="col-md-6 blog_box cardBoxShadow">
            <a href="#" class="mask m-2">
                <img src="https://bootstraptema.ru/images/demo/1920x1080/demo2.jpg" alt="image" class="img-responsive zoom-img" style="max-height:100%;max-width:100%" />
            </a>
            <h3 class="m-2"><a href="#">Второй блок с эффектом фото</a></h3>
            <div class="links m-2">
                <ul>
                    <li><i class="fa blog-icon fa-calendar"> </i><span>Июль 14, 2013</span></li>
                    <li><i class="fa blog-icon fa-user"> </i><span>aTmpl</span></li>
                    <li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>Без комментариев</span></a></li>
                </ul>
            </div>
            <p class="m-2">Текстовое описание используемого материала блока с фото, при разном количестве символов блок с меньшим набором будет подстраиваться под блок с большим количеством, имеется в виду горизонтальное выравнивание элемента.</p>
            <center>
                <a href="#" class="btn1 btn-8 btn-8c m-2">Смотреть</a>
            </center>
            <div class="clearfix"></div>
        </div>

        <div class="row">

            <div class="col-md-6 blog_box cardBoxShadow">
            <a href="#" class="mask m-2">
                <img src="https://bootstraptema.ru/images/demo/1920x1080/demo1.jpg" alt="image" class="img-responsive zoom-img" style="max-height:100%;max-width:100%" />
            </a>
            <h3 class="m-2"><a href="single.html">Первый блок с эффектом фото</a></h3>
            <div class="links m-2">
                <ul>
                    <li><i class="fa blog-icon fa-calendar"> </i><span>Июль 13, 2013</span></li>
                    <li><i class="fa blog-icon fa-user"> </i><span>aTmpl</span></li>
                    <li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>Без комментариев</span></a></li>
                </ul>
            </div>
            <p class="m-2">Наведите курсор на картинку чтобы увидеть эффект приближения, при разном количестве символов блок с меньшим набором будет подстраиваться под блок с большим количеством, имеется в виду горизонтальное выравнивание элемента.</p>
            <center><a href="#" class="btn1 btn-8 btn-8c m-2">Смотреть</a></center>
            <div class="clearfix"></div>
        </div>

        <div class="col"></div>

        <div class="col-md-6 blog_box cardBoxShadow">
            <a href="#" class="mask m-2">
                <img src="https://bootstraptema.ru/images/demo/1920x1080/demo2.jpg" alt="image" class="img-responsive zoom-img" style="max-height:100%;max-width:100%" />
            </a>
            <h3 class="m-2"><a href="#">Второй блок с эффектом фото</a></h3>
            <div class="links m-2">
                <ul>
                    <li><i class="fa blog-icon fa-calendar"> </i><span>Июль 14, 2013</span></li>
                    <li><i class="fa blog-icon fa-user"> </i><span>aTmpl</span></li>
                    <li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>Без комментариев</span></a></li>
                </ul>
            </div>
            <p class="m-2">Текстовое описание используемого материала блока с фото, при разном количестве символов блок с меньшим набором будет подстраиваться под блок с большим количеством, имеется в виду горизонтальное выравнивание элемента.</p>
            <center>
                <a href="#" class="btn1 btn-8 btn-8c m-2">Смотреть</a>
            </center>
            <div class="clearfix"></div>
        </div>
        </div>

        <div class="row">

            <div class="col-md-6 blog_box cardBoxShadow">
                <a href="#" class="mask m-2">
                    <img src="https://bootstraptema.ru/images/demo/1920x1080/demo1.jpg" alt="image" class="img-responsive zoom-img" style="max-height:100%;max-width:100%" />
                </a>
                <h3 class="m-2"><a href="single.html">Первый блок с эффектом фото</a></h3>
                <div class="links m-2">
                    <ul>
                        <li><i class="fa blog-icon fa-calendar"> </i><span>Июль 13, 2013</span></li>
                        <li><i class="fa blog-icon fa-user"> </i><span>aTmpl</span></li>
                        <li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>Без комментариев</span></a></li>
                    </ul>
                </div>
                <p class="m-2">Наведите курсор на картинку чтобы увидеть эффект приближения, при разном количестве символов блок с меньшим набором будет подстраиваться под блок с большим количеством, имеется в виду горизонтальное выравнивание элемента.</p>
                <center><a href="#" class="btn1 btn-8 btn-8c m-2">Смотреть</a></center>
                <div class="clearfix"></div>
            </div>

            <div class="col"></div>

            <div class="col-md-6 blog_box cardBoxShadow">
                <a href="#" class="mask m-2">
                    <img src="https://bootstraptema.ru/images/demo/1920x1080/demo2.jpg" alt="image" class="img-responsive zoom-img" style="max-height:100%;max-width:100%" />
                </a>
                <h3 class="m-2"><a href="#">Второй блок с эффектом фото</a></h3>
                <div class="links m-2">
                    <ul>
                        <li><i class="fa blog-icon fa-calendar"> </i><span>Июль 14, 2013</span></li>
                        <li><i class="fa blog-icon fa-user"> </i><span>aTmpl</span></li>
                        <li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>Без комментариев</span></a></li>
                    </ul>
                </div>
                <p class="m-2">Текстовое описание используемого материала блока с фото, при разном количестве символов блок с меньшим набором будет подстраиваться под блок с большим количеством, имеется в виду горизонтальное выравнивание элемента.</p>
                <center>
                    <a href="#" class="btn1 btn-8 btn-8c m-2">Смотреть</a>
                </center>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 blog_box cardBoxShadow">
                <a href="#" class="mask m-2">
                    <img src="https://bootstraptema.ru/images/demo/1920x1080/demo1.jpg" alt="image" class="img-responsive zoom-img" style="max-height:100%;max-width:100%" />
                </a>
                <h3 class="m-2"><a href="single.html">Первый блок с эффектом фото</a></h3>
                <div class="links m-2">
                    <ul>
                        <li><i class="fa blog-icon fa-calendar"> </i><span>Июль 13, 2013</span></li>
                        <li><i class="fa blog-icon fa-user"> </i><span>aTmpl</span></li>
                        <li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>Без комментариев</span></a></li>
                    </ul>
                </div>
                <p class="m-2">Наведите курсор на картинку чтобы увидеть эффект приближения, при разном количестве символов блок с меньшим набором будет подстраиваться под блок с большим количеством, имеется в виду горизонтальное выравнивание элемента.</p>
                <center><a href="#" class="btn1 btn-8 btn-8c m-2">Смотреть</a></center>
                <div class="clearfix"></div>
            </div>

            <div class="col"></div>

            <div class="col-md-6 blog_box cardBoxShadow">
                <a href="#" class="mask m-2">
                    <img src="https://bootstraptema.ru/images/demo/1920x1080/demo2.jpg" alt="image" class="img-responsive zoom-img" style="max-height:100%;max-width:100%" />
                </a>
                <h3 class="m-2"><a href="#">Второй блок с эффектом фото</a></h3>
                <div class="links m-2">
                    <ul>
                        <li><i class="fa blog-icon fa-calendar"> </i><span>Июль 14, 2013</span></li>
                        <li><i class="fa blog-icon fa-user"> </i><span>aTmpl</span></li>
                        <li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>Без комментариев</span></a></li>
                    </ul>
                </div>
                <p class="m-2">Текстовое описание используемого материала блока с фото, при разном количестве символов блок с меньшим набором будет подстраиваться под блок с большим количеством, имеется в виду горизонтальное выравнивание элемента.</p>
                <center>
                    <a href="#" class="btn1 btn-8 btn-8c m-2">Смотреть</a>
                </center>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
