@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br>

<div class="row text-center">
    <div class="col">
        <h1>Добро пожаловать</h1>
        <h2>на краундфаундинговый сайт по реализации проектов</h2>
    </div>
</div>

<br>

<div class="row text-center">
    <div class="col">
        <img src="/images/logo_transparent.png" class="w-50 img-fluid" alt="Marshal_Sapsee Projects"/>
    </div>
</div>
