html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  margin-top: 80px;
}

.header-blue {
    background: linear-gradient(135deg, #172a74, #21a9af);
    background-color: #184e8e;
    padding-bottom: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width:768px) {
    .header-blue {
        padding-bottom: 0px;
    }
}

.header-blue .navbar {
    background: transparent;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

@media (min-width:768px) {
    .header-blue .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.header-blue .navbar .navbar-brand {
    font-weight: bold;
    color: inherit;
}

    .header-blue .navbar .navbar-brand:hover {
        color: #f0f0f0;
    }

.header-blue .navbar .navbar-collapse {
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: .5rem;
}

@media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
        border-color: transparent;
        margin: 0;
    }
}

.header-blue .navbar .navbar-collapse span .login {
    color: #d9d9d9;
    margin-right: .5rem;
    text-decoration: none;
}

    .header-blue .navbar .navbar-collapse span .login:hover {
        color: #fff;
    }

.header-blue .navbar .navbar-toggler {
    border-color: rgba(255,255,255,0.3);
}

    .header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
        background: none;
    }

.header-blue .navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
    background: none;
    box-shadow: none;
}

@media (min-width: 768px) {
    .header-blue .navbar-nav .nav-link {
        padding-left: .7rem;
        padding-right: .7rem;
    }
}

@media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 2px;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
    line-height: 2;
    color: #37434d;
}

    .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
        background: #ebeff1;
    }

.header-blue .action-button, .header-blue .action-button:not(.disabled):active {
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 40px;
    color: #ebeff1;
    box-shadow: none;
    text-shadow: none;
    padding: .3rem .8rem;
    background: transparent;
    transition: background-color 0.25s;
    outline: none;
}

    .header-blue .action-button:hover {
        color: #fff;
    }

.header-blue .navbar .form-inline label {
    color: #d9d9d9;
}

.header-blue .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #ccc;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color 0.3s;
}

    .header-blue .navbar .form-inline .search-field:focus {
        border-bottom: 1px solid #ccc;
    }

.header-blue .hero {
    margin-top: 20px;
    text-align: center;
}

@media (min-width:768px) {
    .header-blue .hero {
        margin-top: 60px;
        text-align: left;
    }
}

.header-blue .hero h1 {
    color: #fff;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4;
}

@media (min-width:992px) {
    .header-blue .hero h1 {
        margin-top: 190px;
        margin-bottom: 24px;
        line-height: 1.2;
    }
}

.header-blue .hero p {
    color: rgba(255,255,255,0.8);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}

/* Include in css file first line Google Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
/***************/

/* Include in body Google font */
body {
    font-family: 'Barlow Condensed', sans-serif;
}
/********************/

/* Own css styles */
/* Lesson 4 */

.imageThumbnail {
    height: 150px;
    max-width: 150px;
}

.cardBoxShadow {
    -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
}

.cardHeaderStyle {
    background: rgba(0,96,120,1);
    background: -moz-linear-gradient(left, rgba(0,96,120,1) 0%, rgba(165,182,194,1) 50%, rgba(176,185,212,1) 51%, rgba(40,67,247,1) 71%, rgba(0,51,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,96,120,1)), color-stop(50%, rgba(165,182,194,1)), color-stop(51%, rgba(176,185,212,1)), color-stop(71%, rgba(40,67,247,1)), color-stop(100%, rgba(0,51,255,1)));
    background: -webkit-linear-gradient(left, rgba(0,96,120,1) 0%, rgba(165,182,194,1) 50%, rgba(176,185,212,1) 51%, rgba(40,67,247,1) 71%, rgba(0,51,255,1) 100%);
    background: -o-linear-gradient(left, rgba(0,96,120,1) 0%, rgba(165,182,194,1) 50%, rgba(176,185,212,1) 51%, rgba(40,67,247,1) 71%, rgba(0,51,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,96,120,1) 0%, rgba(165,182,194,1) 50%, rgba(176,185,212,1) 51%, rgba(40,67,247,1) 71%, rgba(0,51,255,1) 100%);
    background: linear-gradient(to right, rgba(0,96,120,1) 0%, rgba(165,182,194,1) 50%, rgba(176,185,212,1) 51%, rgba(40,67,247,1) 71%, rgba(0,51,255,1) 100%);
    border-radius: 45px 0 0 0 !important;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.card {
    border-radius: 45px 0 45px 0;
}

.buttonShadow {
    font-size: 13px;
    -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.75);
}

.card {
    border-radius: 45px 0 45px 0;
}

.card-body {
    border-radius: 0 0 45px 0;
}

.buttonShadow {
    -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.75);
}

.menuBg {
    background: rgba(19,6,120,1);
    background: -moz-linear-gradient(left, rgba(19,6,120,1) 0%, rgba(23,8,158,1) 31%, rgba(36,12,245,1) 51%, rgba(94,76,255,1) 71%, rgba(156,145,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(19,6,120,1)), color-stop(31%, rgba(23,8,158,1)), color-stop(51%, rgba(36,12,245,1)), color-stop(71%, rgba(94,76,255,1)), color-stop(100%, rgba(156,145,255,1)));
    background: -webkit-linear-gradient(left, rgba(19,6,120,1) 0%, rgba(23,8,158,1) 31%, rgba(36,12,245,1) 51%, rgba(94,76,255,1) 71%, rgba(156,145,255,1) 100%);
    background: -o-linear-gradient(left, rgba(19,6,120,1) 0%, rgba(23,8,158,1) 31%, rgba(36,12,245,1) 51%, rgba(94,76,255,1) 71%, rgba(156,145,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(19,6,120,1) 0%, rgba(23,8,158,1) 31%, rgba(36,12,245,1) 51%, rgba(94,76,255,1) 71%, rgba(156,145,255,1) 100%);
    background: linear-gradient(to right, rgba(19,6,120,1) 0%, rgba(23,8,158,1) 31%, rgba(36,12,245,1) 51%, rgba(94,76,255,1) 71%, rgba(156,145,255,1) 100%);
    color: #fff;
}

.containerBordered {
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

/******************/

@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);