<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CroudFoundSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CroudFoundSite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header-blue">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container">
                <a class="navbar-brand" href="#">Sapsee CroudFound</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                     id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Создать проект</a></li>
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Категории
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Путешествия</a></li>
                                        <li><a class="dropdown-item" href="#">Программное обеспечение</a></li>
                                        <li><a class="dropdown-item" href="#">Маркетинг</a></li>
                                        <li><a class="dropdown-item" href="#">Экология</a></li>
                                        <li><a class="dropdown-item" href="#">Образование</a></li>
                                        <li><a class="dropdown-item" href="#">Творчество</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        </ul>
                    @*<li class="dropdown">
                            <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Категории </a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Путешествия</a><a class="dropdown-item" role="presentation" href="#">Программное обеспечение</a><a class="dropdown-item" role="presentation" href="#">Маркетинг</a></div>
                        </li>*@
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field"></div>
                    </form>
                        <span style="margin-right:10px" class="navbar-text">
                            <a style="margin-right:0px" href="#" class="btn btn-light action-button">Авторизация</a>
                        </span>
                        <span style="margin-right:10px" class="navbar-text">
                            <a style="margin-right:0px" class="btn btn-light action-button" role="button" asp-area="" asp-page="/Account/RegistrationPage">Регистрация</a>
                        </span>
                        <span style="margin-right:10px" class="navbar-text">
                            <a style="margin-right:0px" class="btn btn-light action-button" role="button" asp-area="" asp-page="/Account/AllUsers">Все пользователи</a>
                        </span>
                </div>
            </div>
        </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CroudFoundSite - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>